{% extends 'base.html' %}

{% block content %}

    <style>

        .testing{

            background-color: yellow;
            height: 48px;
            width: 48px;
            border-radius: .5rem;
            margin: 1rem;
        }

    </style>


    <div style = "margin: 2rem; text-align: center">
        <h1>METHOD</h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <input class="btn btn-dark rounded-pill px-4" type="submit">

        </form>


        <h3>{{ text }}</h3>



    </div>

{% endblock %}