.pragmatic_header_logo {
    margin: 2rem 0;
    font-family: Dancing Script, cursive;
}


.pragmatic_header_button {

    margin-bottom: 2rem; text-align: center;
}

.pragmatic_footer_button {

    font-size: .8rem; margin: 1.5rem;
}